{% extends "base.html" %}
{% block title %}Divisions{% endblock %}
{% block content %}
<h1>Divisions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Coordinator</th>
      <th>Status</th>
      <th>Version</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for division in divisions %}
      <tr>
        <td><a href="{% url 'division_detail' division.id %}">{{ division.name }}</a></td>
        <td>{{ division.coordinator }}</td>
        <td>{{ division.plan_status }}</td>
        <td>{{ division.plan_version }}</td>
        <td>{{ division.last_updated }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}