<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}COOP Platform{% endblock %}</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  >
  {% block extra_head %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">COOP Platform</span>
      <span class="navbar-text">
        {% if user.is_authenticated %}
          {{ user.username }}
        {% endif %}
      </span>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <aside class="col-2 bg-light vh-100 p-3">
        {% include "includes/sidebar.html" %}
      </aside>
      <main class="col-10 p-4">
        {% include "includes/messages.html" %}
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>